
.showmenu{

    font-size: 40px;
    display: none;
   
}
.nevbar{
    display: block;
 

}
.header{
    /* display: none; */
    background-color: rgb(15, 3, 3);
    height: 80px;
    z-index: 1000;
}
#navmenu{
    /* display: none; */
   
}
#hide-menu{
    position: absolute;
    right: 39px;
    font-size: 45px;
}
@media only screen and (max-width: 1269px) {
    .nevbar{
/* display: none; */
display: flex;
flex-wrap: wrap;
gap: 20px;
flex-direction: column;
position: absolute;
right: 30px;
top: 70px;
background-color: rgb(68, 2, 2);
padding-right: 20px;

border-radius: 20px;
/* border-bottom-right-radius: 10px !important; */
    }
    .nevbar a{
        font-size: 25px;
        /* background-color: red; */
        padding: 10px;
    }
    #navmenu{
        display: none;
    }
    .home{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        flex-direction: row-reverse;
        margin-top: 100px;
    }
    .home-sci{
        flex-wrap: wrap;
    }
    .showmenu{

      
        display: block;
       
    }

/* home sections */
    .home {
        flex-direction: column; /* Stack child elements vertically */
        justify-content: center; /* Center the stacked elements */
        padding: 20px; /* Adjust padding for smaller screens */
        height: auto; /* Allow height to adjust dynamically based on content */
        align-items: center;

    }

    .home > div:nth-child(3) { /* Select the 3rd child element */
        order: -1; /* Move the 3rd element to the first position */
    }
   

    .home-sci {
        display: flex; /* Use flexbox to arrange the items in a row */
        justify-content: center; /* Center the icons horizontally */
        align-items: center; /* Align the icons vertically in the middle */
        gap: 20px; /* Add space between each icon */
    }
    
    .home-sci a {
        text-decoration: none; /* Remove underline from links */
        color: inherit; /* Inherit color from parent, to ensure icons inherit the color */
        font-size: 30px; /* Adjust icon size */
    }
    
    .home-sci a:hover {
        color: #007bff; /* Optional: Change color on hover */
    }
    .home-content{
       text-align: center;
    }

/* about sections */
.about{
    display: flex;
    flex-wrap: wrap;
}
.about-content{
    text-align: center;
}
.heading{
    font-size: 60px;
}
::-webkit-scrollbar{
    width: 10px;

}
.timeline-item:nth-child(odd){
    padding-right: 0;
    text-align: left;
}

.timeline-item:nth-child(even){
    padding-left: 0;
}
.education{
    padding-bottom: 40px;
}

  }